
    <div class="col-sm-12" id="p2"><h2>Your Zodiac Sign: </h2><h1 id="p3" name="user_Zsign"></h1></div>
            <div class="col-sm-12" id="p1"><h1>Zodiac sign of your Friends</h1></div>

            <div class="col-sm-6">
                <h2 id="namr-res1"></h2>
            </div>
            <div class="col-sm-6">
                <h2 id="z-sign1"></h2>
            </div>
            <div class="col-sm-6">
                <h2 id="namr-res2"></h2>
            </div>
            <div class="col-sm-6">
                <h2 id="z-sign2"></h2>
            </div>
            <div class="col-sm-6">
                <h2 id="namr-res3"></h2>
            </div>
            <div class="col-sm-6">
                <h2 id="z-sign3"></h2>

            </div>
            <div class="col-sm-6">
                <h2 id="namr-res4"></h2>

            </div>
            <div class="col-sm-6">
                <h2 id="z-sign4"></h2>

            </div>
            <div class="col-sm-12">
                <h1 id="result" name="result"></h1>
    </div>  

 
 
 
 
 